/**************************************************************************
 *  File name  :  main.rc
 *
 *  Description:  This resource file contains the menu and string
 *                table definitions.
 *
 *  Concepts   :  resource script
 *
 *  API's      :  [none]
 *
 *  Required
 *    Files    :  OS2.H, MAIN.H, DLG.H
 *************************************************************************/
#include <os2.h>
#include "main.h"
#include "dlg.h"

ICON IDR_MAIN "bbicon.ico"

MENU IDR_MAIN
{
    SUBMENU     "~Game", IDM_FILE, MIS_TEXT
    {
        MENUITEM    "~New Game",        IDM_FILENEW,    MIS_TEXT
        MENUITEM    "~Load Game",       IDM_FILEOPEN,   MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~Save Game",       IDM_FILESAVE,   MIS_TEXT
        MENUITEM    "Save Game ~as...", IDM_FILESAVEAS, MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~Pause Game\tCtrl+P",  IDM_DIRECTION_START,    MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "Sho~w High Scores",IDM_HIGHSCORES,   MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "E~xit\tF3",       IDM_FILEEXIT,   MIS_TEXT
    }

    SUBMENU     "~Options",             IDM_SETTINGS,     MIS_TEXT
    {
        SUBMENU "S~ound",               IDM_SOUND,        MIS_TEXT
           BEGIN
           MENUITEM "O~n",              IDM_SOUND_ON,     MIS_TEXT
           MENUITEM "O~ff",             IDM_SOUND_OFF,    MIS_TEXT
           END
        SUBMENU "St~yle",               IDM_STYLE,        MIS_TEXT
           BEGIN
           MENUITEM "~2D    F2",        IDM_STYLE_2D,     MIS_TEXT
           MENUITEM "~3D",              IDM_STYLE_3D,     MIS_TEXT
           END
        SUBMENU "Le~vel",               IDM_LEVEL,        MIS_TEXT
           BEGIN
           MENUITEM "0",                IDM_LEVEL_0,      MIS_TEXT
           MENUITEM "1",                IDM_LEVEL_1,      MIS_TEXT
           MENUITEM "2",                IDM_LEVEL_2,      MIS_TEXT
           MENUITEM "3",                IDM_LEVEL_3,      MIS_TEXT
           MENUITEM "4",                IDM_LEVEL_4,      MIS_TEXT
           MENUITEM "5",                IDM_LEVEL_5,      MIS_TEXT
           MENUITEM "6",                IDM_LEVEL_6,      MIS_TEXT | MIS_BREAK
           MENUITEM "7",                IDM_LEVEL_7,      MIS_TEXT
           MENUITEM "8",                IDM_LEVEL_8,      MIS_TEXT
           MENUITEM "9",                IDM_LEVEL_9,      MIS_TEXT
            MENUITEM "10",               IDM_LEVEL_10,     MIS_TEXT
            MENUITEM "11",               IDM_LEVEL_11,     MIS_TEXT
            END

        SUBMENU "L~anguage",             IDM_LANGUAGE,     MIS_TEXT
           BEGIN
           MENUITEM "En~glish",          IDM_LANGUAGE_EN,  MIS_TEXT
           MENUITEM "N~ederlands",       IDM_LANGUAGE_NL,  MIS_TEXT
           MENUITEM "Es~panol",          IDM_LANGUAGE_ES,  MIS_TEXT
           MENUITEM "~Deutsch",          IDM_LANGUAGE_DE,  MIS_TEXT
           MENUITEM "Fran~cais",         IDM_LANGUAGE_FR,  MIS_TEXT
           MENUITEM "It~aliano",         IDM_LANGUAGE_IT,  MIS_TEXT
           END

        MENUITEM SEPARATOR
        MENUITEM    "Visual Se~ttings",    IDM_SETTINGS_ALL, MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~Background Run\tCtrl+B", IDM_BACKGRND,    MIS_TEXT
        MENUITEM    "~Frame Controls\tCtrl+F", IDM_FRAME_CTRL,  MIS_TEXT
    }

/* Application specific menus go here. */
    SUBMENU     "~Help",    IDM_HELP,   MIS_TEXT
    {
        MENUITEM    "~General help",     IDM_HELPGENERAL,    MIS_TEXT
        MENUITEM    "Help ~index",       IDM_HELPINDEX,      MIS_TEXT
        MENUITEM    "~Using help",       IDM_HELPUSINGHELP,  MIS_TEXT
        MENUITEM    "~Keys help",        IDM_HELPKEYS,       MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "P~roduct information",  IDM_HELPPRODUCTINFO, MIS_TEXT
    }
}

/*Popup Menu*/
MENU POPUP_MENU
{
   MENUITEM    "~New Game",        IDM_FILENEW,    MIS_TEXT
   MENUITEM    "~Load Game",       IDM_FILEOPEN,   MIS_TEXT
   MENUITEM    "~Save Game",       IDM_FILESAVE,   MIS_TEXT
   MENUITEM SEPARATOR
   MENUITEM    "~Pause Game",      IDM_DIRECTION_START,    MIS_TEXT
   MENUITEM SEPARATOR
   MENUITEM "Sound O~n",           IDM_SOUND_ON,   MIS_TEXT
   MENUITEM "Sound O~ff",          IDM_SOUND_OFF,  MIS_TEXT
   MENUITEM SEPARATOR
   MENUITEM    "E~xit\tF3",   IDM_FILEEXIT,   MIS_TEXT
}

ACCELTABLE IDR_MAIN
{
    VK_F3,          IDM_FILEEXIT,         VIRTUALKEY
    "x",            IDM_FILEEXIT,         CONTROL
    "X",            IDM_FILEEXIT,         CONTROL
    VK_BACKSPACE,   IDM_FILEEXIT,         VIRTUALKEY,    ALT
    VK_DELETE,      IDM_FILEEXIT,         VIRTUALKEY,    SHIFT
    VK_INSERT,      IDM_FILEEXIT,         VIRTUALKEY,    CONTROL
    VK_INSERT,      IDM_FILEEXIT,         VIRTUALKEY,    SHIFT
    VK_DELETE,      IDM_FILEEXIT,         VIRTUALKEY
    "p",            IDM_DIRECTION_START,  CONTROL
    "P",            IDM_DIRECTION_START,  CONTROL
    "b",            IDM_BACKGRND,         CONTROL
    "B",            IDM_BACKGRND,         CONTROL
    "f",            IDM_FRAME_CTRL,       CONTROL
    "F",            IDM_FRAME_CTRL,       CONTROL
}

STRINGTABLE
{
    IDS_APPNAME                 "BallsBall Game"
    IDS_FILEOPENEXT             "*.bbg"
    IDS_HELPLIBRARYNAME         "BBHELP.HLP"
    IDS_OPEN                    "Load Game"
    IDS_HELPWINDOWTITLE         "BallsBall Help"
    IDS_SAVE                    "Save Game"
    IDS_UNTITLED                "Untitled"
    IDS_TITLEBARSEPARATOR       " - "
    IDS_OBJECTCLASS             "Object Class"
    IDS_MEN_FILE                "~Game"
    IDS_MEN_NEW                 "~New Game"
    IDS_MEN_LOAD                "~Load Game"
    IDS_MEN_SAVE                "~Save Game"
    IDS_MEN_SAVEAS              "Save Game ~as..."
    IDS_MEN_START               "~Pause Game\tCtrl+P"
    IDS_MEN_HSCORES             "Sho~w High Scores"
    IDS_MEN_EXIT                "E~xit\tF3"
    IDS_MEN_SETTINGS            "~Options"
    IDS_MEN_SOUND               "S~ound"
    IDS_MEN_SOUNDON             "O~n"
    IDS_MEN_SOUNDOFF            "O~ff"
    IDS_MEN_STYLE               "St~yle"
    IDS_MEN_STYLE2D             "~2D    F2"
    IDS_MEN_STYLE3D             "~3D"
    IDS_MEN_LEVEL               "Le~vel"
    IDS_MEN_LANGUAGE            "L~anguage"
    IDS_MEN_LANG_EN             "En~glish"
    IDS_MEN_LANG_NL             "N~ederlands"
    IDS_MEN_LANG_ES             "Es~panol"
    IDS_MEN_SETTINGS_ALL        "Visual Se~ttings"
    IDS_MEN_HELP                "~Help"
    IDS_MEN_HELPGENERAL         "~General help"
    IDS_MEN_HELPINDEX           "Help ~index"
    IDS_MEN_HELPUSING           "~Using help"
    IDS_MEN_HELPKEYS            "~Keys help"
    IDS_MEN_HELPPROD            "P~roduct information"
    IDS_MEN_LANG_DE             "~Deutsch"
    IDS_MEN_LANG_FR             "Fran~cais"
    IDS_MEN_LANG_IT             "It~aliano"
    IDS_FMT_TIME                "Time-%d "
    IDS_FMT_LEVEL               "Level-%d "
    IDS_FMT_SCORE               "Score-%d(%d%%)      "
    IDS_PREV_TIME               "Time-0"
    IDS_NONAME                  "Noname"
    IDS_WINNER                  " - winner!"
    IDS_TITLE_WARNING           "Warning"
    IDS_MEN_BACKGRND            "~Background Run\tCtrl+B"
    IDS_MEN_FRAME               "~Frame Controls\tCtrl+F"
}

MESSAGETABLE
{
    IDMSG_INITFAILED            "Initialization failed."
    IDMSG_MAINWINCREATEFAILED   "Failed to create main window."
    IDMSG_CANNOTOPENINPUTFILE   "Invalid input file."
    IDMSG_CANNOTRUNSETTINGS     "Cannot run Settings dialog."
    IDMSG_CANNOTGETHPS          "Cannot get HPS for window."
    IDMSG_HELPLOADERROR         "Failed to load help manager."
    IDMSG_CANNOTLOADSTRING      "Failed to load string."
    IDMSG_CONGRATULATIONS  	  "Congratulations! You win!"
    IDMSG_OK                    "OK! You reach next Level."
    IDMSG_SORRY                 "Sorry! You have lost."
    IDMSG_SAVE                  "Do you want to save this game?"
    IDMSG_HELPDISPLAYERROR      "Failed to display help panel."
    IDMSG_CANNOTLOADEXITLIST    "Cannot load Exit List processor."
    IDMSG_OVERWRITEFILE         "The file exists.  Do you want to overwrite it?"
    IDMSG_CANNOTGETFILEINFO     "Error getting file information."
    IDMSG_CANNOTALLOCATEMEMORY  "Not enough memory."
    IDMSG_CANNOTREADFILE        "Error reading file."
    IDMSG_CANNOTWRITETOFILE     "Error writing file."
    IDMSG_CANNOTLOADSETTINGS    "Cannot load game settings."
    IDMSG_CANNOTLOADHSCORES     "Cannot load High Scores."
    IDMSG_CANNOTWRITESETTINGS   "Cannot write game settings to disk."
    IDMSG_BETWEENBMP            "Size of Cell Value must by between 6 and 12"
    IDMSG_BETWEENCOL            "Columns Value must by between 50 and 100"
    IDMSG_BETWEENROW            "Rows Value must by between 30 and 60"
    IDMSG_MUSTDIFFERENT         "Colors of the Cells of the different types must by different."
    IDMSG_YOURTUTORIAL          "Your tutorial can replace this message."
}
/* include dialog templates created by dialog editor */
rcinclude dialogs.dlg
rcinclude dialogs.nl.dlg
rcinclude dialogs.es.dlg
rcinclude dialogs.de.dlg
rcinclude dialogs.fr.dlg
rcinclude help.rc
rcinclude lang_nl.rc
rcinclude lang_es.rc
rcinclude lang_de.rc
rcinclude lang_fr.rc
rcinclude lang_it.rc
rcinclude dialogs.it.dlg
/***************************  End of main.rc ****************************/
